.container{
    color:#333333;
}


header{
    background-color:#1A1A1A;
    padding:15px 5px;
}
    .header-left{
    font-family:"YuMincho";
    color:white;
    
}


.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-image: url(../img/madagasukaru2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.top h1{
    -webkit-animation: scrollmask 15s ease 2s infinite;
    -webkit-background-clip: text;
    background-image: url(../img/hyougara.jpg);
    color: transparent;
    font-size: 80px;
    -webkit-text-stroke: 3px #000033; 
  }
  @-webkit-keyframes scrollmask {
    0% {background-position: 0 0;}
    100% {background-position: 100% 0;}

  
}
.text{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.text1{
    font-family:"YuMincho";
    font-size:20px;
    font-weight: bold;
    margin:30px 60px ;
}
.text2{

    margin-bottom: 100px;
}
.profile-container{

    background-color:#99CCCC;
    padding:20px;
    display: flex;
    justify-content: center;
}

.profile-photo{
    border-radius: 200px;
}

.profile{
    padding-left: 50px;
}
.prof-text{
    display: flex;
    justify-content: space-around;
}
.name{
    text-align: center;
    font-family:"YuMincho";
    font-size:30px;
}
ul {
    list-style: none;
  }



  /* ボタン */
  .open{
    background: rgb(35, 139, 165);
    color: #fff;
    cursor: pointer;
    width:80px;
    padding: 10px;
    border-radius: 20px;
    margin:20px;
    font-family: "YuMincho";
  }


  .open1{
  
        background: rgb(35, 139, 165);
        color: #fff;
        cursor: pointer;
        width: 80px;
        padding: 10px;
        border-radius: 20px;
        margin:20px;
        font-family: "YuMincho";
      }

  .open2{
  
    background:rgb(35, 139, 165);
    color: #fff;
    cursor: pointer;
    width: 80px;
    padding: 10px;
    border-radius: 20px;
    margin:20px;
    font-family: "YuMincho";
  }



      #slideBox{
        padding: 10px; 
        border: 1px #ccc solid;
        display: none;
        font-family: "YuMincho";
        height:40px;
  }

  #slideBox1{
    padding: 10px; 
    border: 1px #ccc solid;
    display: none;
    font-family: "YuMincho";
    height:40px;
  }

  #slideBox2{
    padding: 10px; 
    border: 1px #ccc solid;
    display: none;
    font-family: "YuMincho";
    height:40px;
  }
  
  .opens{
  display: flex;
  justify-content:center;
  text-align: center;
  } 

.btn{
    display:block;
    width:110px;
    height:30px;
    padding: 5px;
    border-radius: 5px;
    background-color:#1A1A1A;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-family: "YuMincho";

}









.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px;
}
.contact h2{
    font-family:"YuMincho";
    font-weight: normal;
    font-size: 30px;;
}

footer{
    background-color:#1A1A1A;
    color: white;
    padding:15px 5px;
    margin-top:30px;
    text-align: center;
}

/* topに戻るボタンのcss */
#page_top {
    position: fixed;
    bottom: 30px;
    right: 20px;
}
#page_top a {
    background-color: #999;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 20px 20px;
}
#page_top a:hover {
    background-color: #666;
    text-decoration: none;
}



/* スライドショー */

.wrap {
    width:800px;
    background:#000;
    margin:20px auto;
    padding:10px;
}

.wrap p {
    height:400px;
}

.wrap ul {
    display:block;
    overflow:hidden;
    margin-top:10px;
    margin-right:-10px;
    clear:both;
}
.wrap li {
    display:block;
    float:left;
    background:black;
    argin-right:10px;
}
.wrap li img {
    cursor:pointer;
}
